In [11]:
import pandas as pd
import numpy as np

df = pd.DataFrame([
    [1,2,3],
    [4,None,6],
    [7,8,None]],
    columns=list('ABC')
)

df

   A    B    C
0  1  2.0  3.0
1  4  NaN  6.0
2  7  8.0  NaN

In [12]:
df_1 = df.fillna({'C':100})
df_1

   A    B      C
0  1  2.0    3.0
1  4  NaN    6.0
2  7  8.0  100.0

In [13]:
df['C'] = df['C'].fillna(100)
df_2 = df.copy()
df_2

   A    B      C
0  1  2.0    3.0
1  4  NaN    6.0
2  7  8.0  100.0

In [14]:
# 이렇게 하면 바보됨.
df = df['C'].fillna(100)
df_3 = df.copy()
df_3

0      3.0
1      6.0
2    100.0
Name: C, dtype: float64